* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* < !-- <img src="https: //images.pexels.com/photos/5908695/pexels-photo-5908695.jpeg?auto=compress&cs=tinysrgb&w=600"
 alt="" srcset="">--> */

.main-container {
    height: 100%;
    max-width: 50vw;
    margin: 0 auto;
    margin-top: 1rem;
    /* background-color: #00a6ed; */
    background-image: url("Words-Puzz.jpg");
    background-color: transparent;
    background-size: cover;
    background-position: center;
}

header {
    border-radius: 5px;

    box-shadow: inset 1px 3px 5px #e6e6e6,
        inset -5px -9px 3px #e9e9e95c;
    padding: 2rem;

}

header>button {
    float: right;
    border: 1px solid red;
}

/* header>span {
    position: relative;
    left: 1rem;
} */

.logo {
    border: 1px solid black;
    display: inline;
    padding: 0.5rem;
    width: 20%;
    border-radius: 5px;
    background: #faf8f881;
}

.body-container {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 0, 0); */
    /* align-items: flex-start; */

}

span {
    font-size: small;
    /* border: 1px solid rgb(0, 0, 0); */
    position: relative;
    bottom: .10rem;
}

.score-board {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.2em;
    width: 20%;
    border-radius: 5px;
}

.score-board>h2 {
    border-radius: 4px;
    background: #e0e0e038;
    box-shadow: inset 2px 5px 5px #c1c0c0,
        inset -5px -9px 3px #756a6a00;
}

.categories-section {
    /* border: 1px solid black; */
    padding: 0.2em;
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 2px 15px 2px rgb(255, 255, 255),
        inset -5px -9px 30px #ffffff;
    color: #00a6ed;
    text-shadow: 0.1px 0.1px #000000;
}

.lives-section {
    width: 20%;
    flex-wrap: nowrap;
    padding: 0.1em 0.4em 0.9em 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: end;

}

.fa-regular,
.fa-solid {
    color: red;
}

.lives-section>div {
    border-radius: 5px;
    background: #e0e0e038;
    box-shadow: inset 2px 5px 5px #c1c0c0,
        inset -5px -9px 3px #756a6a00;
}

.input-body-container>.input-section {
    height: 10%;
    display: flex;
    justify-content: center;
}

.input-section>div {
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin: 0.2em;
    border: 5px solid #00a6ed;
    text-shadow: 2px 1px #000000;
    color: #00a6ed;
    background-color: rgb(255, 255, 255);
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);

}

/* .dashed::before,
.dashed::after {
    content: '';
    border: 1px solid;
    margin-top: 5px;
    width: 7%;
    transform: rotate(90deg);
    position: relative;

} */
.wordanas{
    position: relative;
    transition: 0.7s;
}
.wordanas::before{
content: '';
position: absolute;
width: 60%;
height: 3px;
bottom: 1px;
left: 50%;
  transform: translate(-50%, -50%);
background-color: #00a6ed;
/* border: 1px solid black; */
}

.input-section {
    width: 100%;
    text-align: center;
    padding: 1rem;
    /* background: #d1fad442; */
    box-shadow: inset 2px 5px 19px #ffffff,
        inset -5px -9px 3px #f2ebeb00;
}

.word-typing-section {
    padding: 0.5em;
    margin-top: 1rem;
    /* border: 3px solid rgb(220, 0, 0); */
    position: relative;
    background-image: url("https: //images.pexels.com/photos/5908695/pexels-photo-5908695.jpeg?auto=compress&cs=tinysrgb&w=600");
    text-align: center;
    box-shadow: inset 0px 1px 11px #cacaca,
        inset -5px -9px 0px #ffffffd4;
}

.alphabet-buttons {
    /* border: none; */
    border: 5px solid #fff;
    /* padding: 15px; */
    background-color: #00a6ed;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 2px 1px #000000;
    padding: 0.5rem 1rem;
    margin: 0.1rem 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translate(1) translate(0, 0);
    transition: transform 225ms, box-shadow 225ms;
}

.alphabet-buttons:hover {
    border: 5px solid #00a6ed;
    text-shadow: 2px 1px #000000;
    color: #00a6ed;
    background-color: rgb(255, 255, 255);
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.alphabet-buttons:active {
    transform: scale(1) translate(0, 0.5rem);
    /* border: 5px solid lime; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.wordHidden{
    font-size: 0px;
}
.spaceLetter{
    opacity: 0;
}
/* Media Query Screen */

@media screen and (max-width: 780px) {
    .main-container {
        max-width: 100vw;
    }

    .word-typing-section {
        width: 100%;
    }

    .categories-section {
        height: 50px;
    }
}

@media screen and (max-width: 550px) {

    .logo {
        border: 0.5px solid rgb(0, 0, 0);
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding: 0.5rem;
        font-size: medium;
    }

    .categories-section {
        height: 50px;
        /* font-size: x-small; */
        width: 100%;
        margin: 0 1em 1em;
    }

    .score-board {
        /* height: 100%; */
        height: 50px;
        width: 100%;
        font-size: small;
    }

    .lives-section {

        height: 50px;
        width: 100%;
    }
}

;
