* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https: //images.pexels.com/photos/5908695/pexels-photo-5908695.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.main-container {
    height: 100% auto;
    max-width: 50vw;
    margin: 0 auto;
    margin-top: 1rem;
   
    /* background-color: #e0e0e0; */
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 7px 7px 14px #bebebe,
        -7px -7px 14px #ffffff;
}

header {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
    padding: 2rem;

}

header>button {
    float: right;
    border: 1px solid red;
}

/* header>span {
    position: relative;
    left: 1rem;
} */

.logo {
    display: inline;
    padding: 1rem;
    width: 20%;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
    /* margin: 4em; */
}

.body-container {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 0, 0); */
    /* align-items: flex-start; */
}

span {
    font-size: small;
    /* border: 1px solid rgb(0, 0, 0); */
    position: relative;
    bottom: .10rem;
}

.score-board {
    border: 1px solid rgb(0, 0, 0);
    /* height: 10%; */
    padding: 0.2em;
    width: 20%;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
}

.categories-section {
    /* border: 1px solid black; */
    padding: 0.2em;
    border: 1px solid rgb(0, 0, 0);
    /* height: 45%; */
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;

}

/* .categories-section > h4 {
   
} */

.lives-section {
    width: 20%;
    /* display: flex; */
    text-align: center;
    align-items: center;
    padding: 0.1em 0.4em 0.9em 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
    /* font-size: x-large; */
}

p {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
}

.input-body-container {
    margin: 0 auto;
    height: 50%
}

.input-section {
    /* height: 20%; */
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;
}

.word-typing-section {
    padding: 0.5em;
    margin-top: 1rem;
    /* border: 3px solid rgb(220, 0, 0); */
    position: relative;
    /* top: 10em; */
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;
    background: #e0e0e0;
    box-shadow: inset 2px 5px 5px #acacac,
        inset -5px -9px 3px #756a6a;


}

.alphabet-buttons {
    /* border: none; */
    background-color: #00a6ed;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 2px 1px #000000;
    padding: 0.5rem 1rem;
    margin: 0.1rem 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translate(1) translate(0, 0);
    transition: transform 225ms, box-shadow 225ms;
}

.alphabet-buttons:hover {
    /* border: 1px solid lime; */
    background-color: deepskyblue;
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.alphabet-buttons:active {
    transform: scale(1) translate(0, 0.15rem);
    /* border: 5px solid lime; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Media Query Screen */

@media screen and (max-width: 740px) {
    .main-container {
        max-width: 100vw;
    }

    .word-typing-section {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .categories-section {
        /* height: 10%; */
        font-size: x-small;
        width: 100%;
        margin: 1em;
    }

    .score-board {
        height: 10%;
        width: 100%;
    }

    .lives-section {
        font-size: small;
        height: 10%;
        width: 100%;
    }
}

;
